body {
    text-align: justify;
    font-family: Ariel, Helvetica, sans-serif;
    color: #303030;
    margin: 0;
    padding: 0;
}

.break {
    clear: both;
}

.topbar {
    margin: 0 auto;
    max-width: 640px;
    padding: 0 5px 0 5px;
}

.topmenu {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    float: left;
}

.link {
    text-decoration: underline;
    color: #303030;
}

.link:hover {
    color: firebrick;    
}

.main {
    max-width: 640px;
    margin:0 auto;
    margin-top: 10vmin;
    padding: 0 20px 0 20px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 {
    margin-bottom: 5px;
}

h1, h3 {
    font-family: 'Architects Daughter';
}

.contact_icons {
    font-size: 2em;
    color: #303030;
}

.contact_icons:hover {
    color: firebrick;
}
