<div>
  <h2>About Me</h2>
  <p>
    I am a web developer based in South Oxfordshire. Having been a research scientist until recently I am continuously learning my trade and figuring out what part of the stack I enjoy working in the most. My first area of study was client side Javascript, HTML, and CSS. In my current role I have progressed this knowledge and added server side Javascript/Node with a little bit of C#/.NET and Java and the data layer of MSSQL, Postgres and Mongo. All this coding has been wrapped in Docker, CircleCI, and saved in Github and developed in an Agile environment. Not bad for two years but plenty more to learn.
  </p>
  <p>
    Prior to becoming a web developer I earned a Doctorate and an undergraduate Masters in Chemistry, both from the University of Bath. Following the completion of my Doctorate I worked at the National Institute of Standards and Technology, Center for Neutron Research as part of the Macromolecular and Microstructural Sciences Group. It remains my hope that I will be able to bring my scientific knowledge into my web development work however I have not done this so far. Further information is available on my <a class="link" href="science">science</a> page.
  </p>
  <p>
    Although my experience level is low I would be interested in disucssing potential jobs so please feel free to contact me using the methods below. Also please check out my current skills on my <a class="link" href="programming">Web Development</a> page.
  </p>
</div>
