<div>  
  <h3>Contact me</h3>
  <p>
    <a href="mailto:matthew@mjwasbrough.com" class="link">
      <i class="fa fa-at contact_icons">
      </i>
    </a>
    &nbsp;
    <a href="https://twitter.com/MJWasbrough">
      <i class="fa fa-twitter-square contact_icons">
      </i>
    </a>
    &nbsp;
    <a href="https://uk.linkedin.com/pub/matthew-wasbrough/45/3a/674">
      <i class="fa fa-linkedin-square contact_icons">
      </i>
    </a>
  </p>
</div>
